.lab-background-lightGray {
    background-color: #f7f9f7;
}

.lab-background-active {
    background-color: #dfe0df !important;
}

.lab-background-minus {
    background-color: rgb(246, 0, 112);
    color: #fff;
}

.lab-background-plus {
    background-color: rgb(42, 193, 42);
    color: #fff;
}

.lab-icon {
    height: 16px;
}

.lab-text-minus {
    color: rgb(246, 0, 112);
}

.lab-text-plus {
    color: rgb(42, 193, 42);
}

.lab-link-text {
    color: inherit;
    text-decoration: none;
}