*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 1.3rem;
    background-color: #ffffff;
    color: #111111;
}

form {
    flex: 0 0 50%;
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    align-items: center;
}

label {
    flex: 0 0 100%;
    margin: .5rem 0;
    color: #666;
}

input, select {
    flex: 0 0 100%;
    margin: .5rem 0;
    padding: .25rem .5rem;

    border: 1px solid #f7f9f7;
    border-radius: 0px;

    height: 2rem;
    transition: all .25s;
    -webkit-appearance:none;
}

input:disabled {
    background-color: #92b4cb;
}

button {
    display: block;
    width: 100%;
    margin: .5rem 0 .5rem 0;
    padding: .5rem 2rem;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);

    background-color: #111;
    transition: all .25s;
    text-transform: uppercase;
}

button:hover, input:hover {
    background-color: #eaeaea;
}

img {
    border: none;
}

time {
    font-size: .75em;
    opacity: .5;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    color: inherit;
    font-size: 10px;
}

table thead {
    background-color: #f7f9f7;
}

td, th {
    padding: .5rem 1rem;
}

tr {

}

tr:nth-child(even) {
    background-color: rgba(187, 220, 255, 0.07);
}

a {
    color: #17adff;
}

/*
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 206, 155, 0.3);

}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 206, 155, 0.3);
}
*/