.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow-x: hidden;
}

.app-header, .app-footer {
    transition: background 1s;
    background-color: black;
}

.app-header {
}

.app-header {
}

.app-footer {
    color: #666;
}

.app-header-section {
    padding: .5rem 0;
}

.app-main {
    flex: auto;
}

.app-workbench {
    display: flex;
}

.flex-auto {
    flex: auto;
}

.flex-fixed {
    flex: 0 0 auto;
}

.app-aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 20rem;
}

.app-section {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.brand {
    margin-right: 2rem;
}

.brand a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.content {
    padding: 1rem;
}

.content-centred {
    max-width: 800px;
    margin: auto;
}

.container {
    padding: 0 2rem;
}

.widget {
    margin: 1rem;
    background-color: rgba(247, 249, 247, 0.25);
    border-radius: 0px;
    /**
    border: 1px solid rgba(255, 206, 155, 0.3);
    border-radius: 4px;
     */
    overflow: hidden;
}

.widget-title {
    padding: .5rem 1rem;
    font-weight: bold;
    background-color: #f7f9f7;
}

.table-sell {
    color: rgb(246, 0, 112);
}

.table-buy {
    color: #2ac12a;
}

.sell {
    color: rgb(246, 0, 112);
}

.buy {
    color: #2ac12a;
}

.list-vertical {

}

.nav {
    color: #666;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav li > img {
    margin-right: .5rem;
}

.announcements, .summary, .nav, .footer {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.announcements > li, .summary > li, .nav > li, .footer > li {
    padding: 0 .5rem;
}

.announcements {
    opacity: .25;
    transition: opacity 1s;
}

.announcements:hover {
    opacity: 1;
}

.summary {
    align-items: flex-start;
    align-items: center;
}

.summary li {
    flex: auto;
    width: 0;
}

.summary-pair-title {
    font-size: 2rem;
    text-transform: uppercase;
    opacity: .3;
    font-weight: bold;
}

.summary-title {
    display: block;
    color: #666;
    margin-right: 1rem;
}

.summary-value {
    display: block;
    font-weight: bold;
}

.footer {
    align-items: flex-start;
}

.footer li {
    flex: 0 0 25%;
}

.footer-title {
    margin: .5rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.list-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
}

.authentication-forms {
    display: flex;
}

.authentication-form-container {
    flex: 0 0 50%;
}

.order-forms {
    display: flex;
}

.row-negative {
    color: firebrick !important;
}

.row-positive {
    color: green !important;
}

.pair-title {
    text-transform: uppercase;
}

#chart {
    height: 100vh;
}

