.notifications {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    list-style: none;
}

.notifications-notification {
    padding: .5rem 1rem;
    text-align: center;
}

.notifications-notification--message {
    background-color: #008FFB;
    color: #fff;
}

.notifications-notification--error {
    background-color: darkred;
    color: #fff;
}

.notification-title {
    font-weight: bold;
}

.notification-description {
    font-size: .75rem;
}