.chart {
    height: 100%;
    display: flex;
    position: relative;
    background-color: #333;
}

.chart-frame {
    position: relative;
}


.chart-ruler {
    position: absolute;
    top: 30%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: red;
}